:root {

  /* =================================== COLORS =================================== */
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /* =================================== TYPOGRAPHY =================================== */
  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /* =================================== BORDER-RADIUS =================================== */
  --border-radius-md: 10px;
  --border-radius-sm: 5px;
  --border:.2rem solid var(--eerie-black);

  /* =================================== TRANSITION =================================== */
  --transition-timing: 0.2s ease;
  --transition-2: 0.25s ease;
}




/* ================================================================================================================ */
/* ================================================== ELEMENTS =================================================== */
/* ============================================================================================================== */



/* =================================== UNIVERSAL =================================== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================================== HTML =================================== */
html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

/* =================================== LINKS =================================== */
a {
  text-decoration: none; 
}

/* =================================== LIST =================================== */
li {
  list-style: none; 
}

/* =================================== BUTTONS =================================== */
button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

/* =================================== IMAGES, ICONS, BUTTON & LINKS =================================== */
img, ion-icon, button, a {
  display: block; 
}

/* =================================== IMAGENES, ICON, BUTTON & LINKS =================================== */
span {
  display: inline-block; 
}

/* =================================== FORM =================================== */
input {
  display: block;
  width: 100%;
  font: inherit;
}

/* =================================== FORM TEXT PROVISIONAL =================================== */
input::placeholder {
  font: inherit; 
}

body {
  background: var(--white); 
}

/* =================================== SCROLL-BAR STYLES =================================== */
body::-webkit-scrollbar {
  width: 15px; 
}

body::-webkit-scrollbar-track {
background: var(--white);
border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
background: hsl(0, 0%, 80%);
border: 3px solid var(--white);
border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%); 
}



/* ================================================================================================================ */
/* ================================================== REUSED STYLES ============================================== */
/* ============================================================================================================== */



.container {
  padding: 0 15px; 
}

.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar {
  display: flex;
  overflow-x: auto;
  padding-block-end: 30px;
  margin-block-end: -30px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar::-webkit-scrollbar {
/* VERTICAL SCROLL */
width: 12px;
/* HORIZONTAL SCROLL */ 
height: 12px; 
}

.has-scrollbar::-webkit-scrollbar-thumb {
background: transparent;
border: 3px solid var(--white);
border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 90%); 
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%); 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* ================================================================================================================ */
/* ================================================== HEADER ===================================================== */
/* ============================================================================================================== */



.header-top, .header-user-actions, .desktop-navigation-menu {
  display: none; 
}

.header-main {
  background: #FF7D1B;
  padding: 20px 0;
  border-bottom: 1px solid #FF7D1B;
}

.header-search-container {
  position: relative; 
}

.header-search-container .search-field {
  font-size: var(--fs-7);
  color: var(--onyx);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
}

.search-field::-webkit-search-cancel-button {
  display: none; 
}

.search-btn {
background: var(--white);
position: absolute;
top: 50%;
right: 2px;
transform: translateY(-50%);
color: var(--onyx);
font-size: 18px;
padding: 8px 15px;
border-radius: var(--border-radius-md);
transition: color var(--transition-timing);
}

.search-btn:hover {
  color: orange; 
}

.mobile-bottom-navigation {
background: #FF7D1B;
position: fixed;
bottom: 0;
left: 50%;
transform: translateX(-50%);
width: 100%;
max-width: 500px;
margin: auto;
display: flex;
justify-content: space-around;
align-items: center;
padding: 5px 0;
box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
z-index: 5;
}

.mobile-bottom-navigation .action-btn {
  position: relative;
  font-size: 26px;
  color: var(--eerie-black);
  padding: 10px;
}

.mobile-bottom-navigation .count {
  background: white;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  font-weight: var(--weight-500);
  line-height: 1;
  padding: 2px 4px;
  border-radius: 20px;
}

.mobile-navigation-menu {
  background: #FF7D1B;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  overflow-y: scroll;
  overscroll-behavior: contain;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 20;
}

.mobile-navigation-menu.active {
  left: 0;
  visibility: visible;
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #FF7D1B;
}

.menu-top .menu-title {
  color: white;
  font-size: var(--fs-4);
  font-weight: var(--weight-600);
}

.menu-close-btn {
  color: white;
  font-size: 22px;
}

.menu-close-btn ion-icon {
  --ionicon-stroke-width: 50px; 
}

.mobile-menu-category-list {
  margin-bottom: 30px; 
}

.menu-category .accordion-menu {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.mobile-menu-category-list .menu-category {
  border-bottom: 1px solid white; 
}

.mobile-menu-category-list .menu-title {
color: white;
font-size: var(--fs-6);
font-weight: var(--weight-500);
padding: 12px 0;
}

.accordion-menu > div {
  font-size: 14px; 
}

.accordion-menu ion-icon {
color: var(--onyx);
--ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon, .accordion-menu .remove-icon {
  color: white;
  display: none; 
}

.accordion-menu .add-icon, .accordion-menu.active .remove-icon {
  color: white;
  display: block; 
}

.menu-category .submenu-category-list {
  margin-left: 10px; 
}

.submenu-title {
padding: 6px 0;
font-size: var(--fs-6);
color: white;
font-weight: var(--weight-300);
}

.submenu-title:hover {
  color: black; 
}

.submenu-category-list {
max-height: 0;
overflow: hidden;
visibility: hidden;
transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
max-height: 148px;
visibility: visible;
}

.menu-bottom .menu-category-list {
  margin-bottom: 20px; 
}

.menu-bottom .menu-category {
  border-bottom: none; 
}

.menu-bottom .menu-title {
font-size: var(--fs-6);
font-weight: var(--weight-500);
color: black;
padding: 12px 0;
}

.accordion-menu.active .caret-back {
  transform: rotate(-0.25turn); 
}

.menu-bottom .submenu-category-list {
border: 1px solid #FF7D1B;
border-radius: var(--border-radius-md);
padding: 0 15px;
margin-left: 0;
box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
  border-bottom: 1px solid var(--cultured); 
}

.menu-social-container {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.menu-social-container .social-link {
background: var(--cultured);
color: var(--eerie-black);
font-size: 20px;
padding: 10px;
border-radius: var(--border-radius-md);
}

/* ================================================================================================================ */
/* ================================================== BANNER ===================================================== */
/* ============================================================================================================== */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.Banner {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(80, 79, 79, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

   /* --===============Service Section================== */

   .service-section{
    width: 90vw;
    margin-inline: auto;
    margin-block: 2rem;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    'one two'
    'three four';
  }
  
  .service:nth-child(1){
    grid-area: one;
  }
  .service:nth-child(2){
    grid-area: two;
  }
  .service:nth-child(3){
    grid-area: three;
  }
  .service:nth-child(4){
    grid-area: four;
  }
  
  .service{
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1rem;
  }
  
  .service .fs-200{
    font-size: .9rem;
  }
  .service .fs-50{
    font-size: .79rem;
  }

/*-----------------------------------*\
  #ORGANIZATIONS
\*-----------------------------------*/

.section-subtitle {
  color: var(--emerald);
  font-family: var(--ff-playfair-display);
  font-size: var(--fs-3);
  font-style: italic;
  margin-block-end: 10px;
}

.section-subtitle,
.section-title { text-align: center; }


.partner { background-color: orange; }

.partner .section-title {
  color: white;
  margin-block-end: 40px;
  align-content: center;
}

.partner .section-subtitle { color: white; }

.partner-logo {
  max-width: max-content;
  margin-inline: auto;
}

.partner-organization {
  min-width: 100%;
  scroll-snap-align: center;
}

/*-----------------------------------*\
  #ORGANIZATION CARDS
\*-----------------------------------*/

.organization { text-align: center; }

.organization .section-title {
  margin-top: 60px; 
  margin-block-end: 40px; }

.home-card-item {
  margin-inline: 15px;
  min-width: 100%;
  scroll-snap-align: start;
}

.org-card {
  background-color: #ffd792;
  padding: 30px 20px;
}

.org-card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.org-card .card-avatar { border-radius: 50%; }

.org-card .rating-wrapper { margin-block: 30px 20px; }

.org-card .card-text {
  color: hsl(0, 0%, 53%);
  line-height: 1.7;
  font-size: 1.5rem;;
}

.org-card .card-title {
  font-size: 2rem;
  font-weight: 500;
  margin-block: 25px 15px;
}


/* ================================================================================================================ */
/* ================================================== CATEGORIES ================================================= */
/* ============================================================================================================== */

.category-tittle {
  margin-top: 93px;
  margin-left: 55px;
  padding-bottom: 20px;
  
  color: #FF7D1B;
}
.category { margin-bottom: 30px; }

.category-item-container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.category-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  scroll-snap-align: start;
}

.category-img-box {
  background: var(--cultured);
  border: 1px solid hsl(0, 0%, 80%);
  padding: 10px;
  border-radius: var(--border-radius-sm);
}

.category-content-box { width: 100%; }

.category-content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.category-item-title {
  color: var(--eerie-black);
  font-size: var(--fs-9);
  font-weight: var(--weight-600);
  text-transform: uppercase;
}

.category-item-amount {
  color: var(--sonic-silver);
  font-size: var(--fs-11);
}

.category-btn {
  color: var(--sandy-brown);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: capitalize;
}

/* ================================================================================================================ */
/* ================================================== PAYMENT ===================================================== */
/* ============================================================================================================== */

.steps {
  background-color: #EBEBEB;
  max-width: auto;
  margin:2rem auto;
  padding:2rem;
}

.steps .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.5fr));
  gap:1rem;
  align-items: flex-start;
}

.steps .box-container .box{
  text-align: center;
  padding:2rem;;
}

.steps .box-container .box img{
  height: 11rem;
  margin-bottom: 3rem;
  width: 100%;
}

.steps .box-container .box h3{
  font-size: 2rem;
  color:var(--eerie-black);
  margin:1rem 0;
  text-transform: capitalize;
}

.steps .box-container .box p{
  font-size: 1.2rem;
  color:var(--davys-gray);
  line-height: 2;
}

/* ================================================================================================================ */
/* ================================================== FOOTER ===================================================== */
/* ============================================================================================================== */



footer {
  background: #ffb552;
  padding: 30px 0;
}

.footer-nav {
  border-bottom: 1px solid #ffb552;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.footer-nav-list:not(:last-child) {
    margin-bottom: 20px;
}

.footer-nav .nav-title {
  position: relative;
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.footer-nav .nav-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 60px;
  height: 1px;
}

.footer-nav-item {
  padding: 3px 0;
}

.footer-nav-link, .footer-nav-item .content {
  width: max-content;
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  text-transform: capitalize;
  transition: var(--transition-timing);
}

.footer-nav-link:hover { 
    color: white;
}

.footer-nav-item.flex {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.footer-nav-item .content {
  font-style: normal;
  margin-bottom: 5px;
}

.footer-nav-item .icon-box {
  color: black;
  font-size: 25px;
}

.footer-nav-item .icon-box ion-icon {
    --ionicon-stroke-width: 30px; 
}

.footer-nav .social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social-link .footer-nav-link {
  font-size: 25px; 
}

.footer-bottom {
  margin-bottom: 50px;
  text-align: center;
}

.copyright {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.copyright a {
  display: inline;
  color: inherit;
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #ffcc50;
  font-size: 2rem;
  color: white;
  padding: 8px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 1;
}

.back-to-top.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50px);
}

.back-to-top:is(:hover, :focus) { background-color: #c06500; }


/* ================================================================================================================ */
/* ================================================== RESPONSIVE ================================================= */
/* ============================================================================================================== */



/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 480PX =================================== */

@media (min-width: 480px) {

  :root {

      /*TYPOGRAPHY*/
     --fs-1: 1.875rem;
  }

  /* =================================== HEADER =================================== */
  .header-top {
     background: #FF7D1B;
     display: block;
     padding: 10px 0;
     border-bottom: 1px solid #FF7D1B;
  }
 
  .header-social-container {
      display: none; 
  }
 
  .header-main {
       padding: 25px 0; 
  }
 
  .mobile-bottom-navigation {
     border-top-left-radius: var(--border-radius-md);
     border-top-right-radius: var(--border-radius-md);
  }

    /**
   * #BANNER
   */

   .slider-item { aspect-ratio: 5 / 3; }

   .banner-content {
     top: 50%;
     right: auto;
     bottom: auto;
     transform: translateY(-50%);
     max-width: 320px;
   }
 
   .banner-subtitle { --fs-7: 1rem; }
 
   .banner-text {
     display: block;
     color: white;
     font-size: var(--fs-7);
     font-weight: var(--weight-500);
     margin-bottom: 10px;
   }
 
   .banner-text b { font-size: var(--fs-2); }
 
   .banner-btn { padding: 7px 20px; }

     /**
   * PARTNER
   */

  .partner-organization { min-width: 33.33%; }

  /* =================================== FOOTER =================================== */
  .copyright {
      --fs-8: 0.875rem; 
  }
}


/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 570PX =================================== */

@media (min-width: 570px) {

  /* =================================== HEADER =================================== */
  .header-top .container, .header-main .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .header-logo {
      margin-bottom: 0; 
  }
  
  .header-search-container {
      min-width: 300px; 
  }
}

  /**
   * #BANNER
   */

   .slider-item { aspect-ratio: 4 / 2; }

   .banner-content { background: none; }



  /**
   * #CATEGORY
   */

   .category-item-container { gap: 30px; }

   .category-item { min-width: calc(50% - 15px); }

/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 768PX =================================== */

@media (min-width: 768px) {

  :root {

      /* TYPOGRAPHY */
    --fs-1: 2.375rem;
  }

  /*GENERAL*/

  html {
      font-size: 17px; 
  }

  /*REUSED STYLE*/

  .container {
    max-width: 750px;
    margin: auto;
  }

  /* =================================== HEADER =================================== */

  .header-main .container {
      gap: 80px; 
  }

  .header-search-container {
      flex-grow: 1;
  }

   /**
   * #CATEGORY 
   */

   .category-img-box { padding: 20px; }

     /**
   * #BANNER 
   */

  .slider-item {
    aspect-ratio: auto;
    height: 350px;
  }

  .banner-content { max-width: 380px; }

  .banner-subtitle { --fs-7: 1.25rem; }

  .banner-text { --fs-7: 1.125rem; }

  .banner-text b { --fs-2: 1.875rem; }

  .banner-btn { --fs-11: 0.75rem; }

    /**
   * PARTNER
   */

   .partner-organization { min-width: 25%; }

     /**
   * organization
   */

  .home-card-item { min-width: 50%; }


  /* =================================== FOOTER =================================== */

  .footer-nav .container {
      display: flex;
      flex-wrap: wrap;
      row-gap: 50px;
      column-gap: 20px;
  }
  
  .footer-nav-list {
      min-width: calc(33.33% - 15px);
      width: calc(33.33% - 15px);
      flex-grow: 1;
  }
  
  .footer-nav-list:not(:last-child) {
        margin-bottom: 0; 
  }
  
}


/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 1024PX =================================== */

@media (min-width: 1024px) {

  main{
      /* min-width: 90%; */
      margin: 20px auto;
      /* background-color: white; */
      /* height: 400vh; */
  }

  :root {

      /* TYPOGRAPHY */
    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }

  /*REUSED STYLE*/
  .container {
      max-width: 980px; 
  }

  /* =================================== HEADER =================================== */

  .header-social-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .header-social-container .social-link {
    padding: 5px;
    background: hsl(0, 0%, 95%);
    border-radius: var(--border-radius-sm);
    color: black;
    transition: var(--transition-timing);
  }

  .header-social-container .social-link:hover {
    background: white;
    color: orange;
  }

  .header-user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header-user-actions .action-btn {
    position: relative;
    font-size: 35px;
    color: black;
    padding: 5px;
  }

  .header-user-actions .count {
    position: absolute;
    top: -2px;
    right: -3px;
    background: white;
    color: black;
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
  }

  .desktop-navigation-menu {
      background: #FF7D1B;
      display: block; 
  }

  .desktop-menu-category-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .desktop-menu-category-list .menu-category:not(:nth-child(2)) {
      position: relative; 
  }

  .desktop-menu-category-list .menu-category > .menu-title {
    position: relative;
    color: black;
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 15px 0;
    transition: var(--transition-timing);
  }

  .desktop-menu-category-list .menu-category > .menu-title:hover {
      color: white; 
  }
  
  .desktop-menu-category-list .menu-category > .menu-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: var(--transition-timing);
  }

  .desktop-menu-category-list .menu-category > .menu-title:hover::after {
      transform: scaleX(1); 
  }

  .dropdown-panel {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    border-radius: var(--border-radius-md);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-timing);
    z-index: 5;
  }

  .desktop-menu-category-list .menu-category:hover > .dropdown-panel {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .dropdown-panel-list .menu-title a {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 10px;
  }

  .panel-list-item a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    transition: var(--transition-timing);
  }

  .panel-list-item a:hover {
      color: orange; 
  }

  .panel-list-item:not(:last-child) a {
      padding: 4px 0; 
  }

  .panel-list-item:last-child {
      margin-top: 20px; 
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: var(--white);
    padding: 20px 0;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-timing);
    z-index: 5;
  }

  .desktop-menu-category-list .menu-category:hover > .dropdown-list {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .dropdown-list .dropdown-item a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    padding: 4px 20px;
    transition: var(--transition-timing);
  }

  .dropdown-list .dropdown-item a:hover { 
      color: orange; 
  }

  .mobile-bottom-navigation {
      display: none; 
  }

    /**
   * #BANNER 
   */

   .banner { margin-top: 0; }

   .slider-item { height: 380px; }
 
   .banner-content {
     left: 710px;
     max-width: 400px;
   }
 
   .banner-subtitle { --fs-7: 1.625rem; }
 
   .banner-text { --fs-7: 1.375rem; }
 
   .banner-btn { --fs-11: 0.875rem; }



@media (min-width: 59em){
  .service-section{
    width: 90vw;
    margin-inline: auto;
    margin-block: 2rem;
    display: grid;
    gap: 5rem;
    grid-template-areas: 
    'one two three four';
  }

  .service .fs-200{
    font-size: 1rem;
  }
  .service .fs-50{
    font-size: .79rem;
  }
}
 

    /**
   * #CATEGORY 
   */

   .category-item { min-width: calc(33.33% - 20px); }

   .category-img-box { padding: 10px; }

    /**
   * organization
   */

  .organization .has-scrollbar { gap: 30px; }

  .home-card-item {
    min-width: calc(33.33% - 20px);
    margin-inline: 0;
  }


  /* =================================== FOOTER =================================== */

  .container .suscribe {
      font-weight: var(--weight-500);
      position: relative;
      top: 35px;
      padding-left: 180px;
      text-transform: uppercase;
      color: var(--onyx);
  }



  .footer-suscribe {
      margin: 0 auto;
      position: relative;
      padding-bottom: 45px;
      width: 300px;
  }

  .footer-suscribe .suscribee {
      font-size: var(--fs-7);
      color: var(--onyx);
      padding: 10px 15px;
      padding-right: 50px;
      border: 1px solid var(--cultured);
      border-radius: var(--border-radius-md);
    }

    .suscribe-btn {
      background: var(--white);
      position: absolute;
      top: 25%;
      right: 2px;
      transform: translateY(-50%);
      color: var(--onyx);
      font-size: 18px;
      padding: 8px 15px;
      border-radius: var(--border-radius-md);
      transition: color var(--transition-timing);
    }

    .suscribe-btn:hover {
        color: orange;
    }

  .footer-nav-list {
      min-width: calc(20% - 16px);
      width: calc(20% - 16px);
    }
  
  .footer-nav-list:last-child {
        display: none; 
  }
  
  .footer-bottom {
      margin-bottom: 0; 
  }
}

.back-to-top.active {
  transform: translateY(-8px);
}

/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 1200PX =================================== */

@media (min-width: 1200px) {

  /* REUSED STYLE */
  .container {
      max-width: 1200px; 
  }

  /* =================================== HEADER =================================== */

  .desktop-menu-category-list {
      gap: 45px; 
  }

    /**
   * #CATEGORY
   */

   .category-item { min-width: calc(25% - 22.5px); }

   .category-item-title { --fs-9: 0.824rem; }

     /**
   * #BANNER
   */

  .slider-item:last-child .banner-img { object-position: top; }

    /**
   * PARTNER
   */

   .partner {
    padding-block: 150px;
  }

  .partner-organization { min-width: 16.66%; }

}

  /* =================================== FOOTER =================================== */

  footer {
      padding-top: 50px; 
  }

  .footer-category {
    margin-bottom: 50px;
    padding-bottom: 35px;
  }

  .footer-nav {
      padding-bottom: 50px; 
  }

/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 1400PX =================================== */

@media (min-width: 1400px) {

  /* GENERAL */

  html {
      font-size: 18px; 
  }

  /* REUSED STYLE */

  .container {
      max-width: 1350px; 
  }

    /**
   * #BANNER
   */

   .slider-item { height: 450px; }

   .banner-content {
     left: 110px;
     max-width: 460px;
   }

}