



/************************************
esto es main de productos*/


/*+++++++++ mobile ++++++++*/



*{
    /* font-family: Arial, Helvetica, sans-serif;     */
    margin: 0;
    padding: 0;
}
	


.headerCarrito{
    height: 100px;
    background-color: orange;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.2em;
    box-shadow: 1px 1px 1px 1px orangered;
    margin: .7em;
}

main{
    margin: 2em auto;
}


 /* body{
     background-color: rgba(86, 86, 84, 0.571); 
}  */


.containerCarrito{
    padding:1em ;
    background-color: rgba(240, 248, 255, 0.2);
}
.imgCarrito{
    height: 60px;
    width: 60px;
    text-align: center;
}

.eliminar{
    width : 40px ;
     height : 40px ;
     border: 1px solid rgba(255, 68, 0, 0.279);
    
}

.cart-column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    background-color: rgb(245, 201, 119); border-radius: 1em;
    box-shadow: 1px 1px 1px 1px orangered;
}


#prueba-producto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    background-color: rgb(245, 201, 119); border-radius: 1em;
    box-shadow: 1px 1px 1px 1px orangered;
}


#segunda-columna{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    background-color: rgb(245, 201, 119); border-radius: 1em;
    box-shadow: 1px 1px 1px 1px orangered;
}

#final{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    overflow: hidden;
    margin-top: 1em;
    box-shadow: 1px 1px 1px 1px orangered;
    border-radius:1em ;
}

.btnCarrito{
    border-style: hidden;
    background-color: #4CAF50; /* Green */
    border-radius: .6em;
    color: white;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
}

.Pago-carrito-carrito{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
}

.show{
    opacity: 1;
    pointer-events: unset;
}

.contenedor-carrito{
    margin-bottom: 30px;
    height: 60px;
    line-height: 28px;
}

.popop-carrito{
    background-color: rgb(243, 238, 235); border-radius: 1em;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    width: 600px;
    height: 75vh;
    transition: all 0.5 ease-in;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.464) ;
    padding-bottom: 2px;
    margin-top: -40px;
}
/* #cerrar-carrito{
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 136, 0);
    transition: all 200ms
    } */
.btn-comprar-carrito{
    background-color: rgb(255, 136, 0);
    border: transparent;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: 90%;
    cursor: pointer;
    margin: 0 auto;
}
.Parrafo-Donacion-carrito{
    margin: 15px;
}
.codigo-carrito{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
}
.codigo-carrito input{
    width: 80px;
    height: 25px;
}



@media (max-width: 700px){
    .headerCarrito{
        font-size: .8em;
        height: 75px;
    }
}

@media (max-width: 500px){
  

    .headerCarrito{
        font-size: .6em;
        height: 70px;
    }


    .imgCarrito,.eliminar{
        height: 30px;
        width: 30px;
    }

    #final{
        display: grid;
        justify-content: flex-start;
        padding: .5em;
        height: 220px;
    }

    .cart-column{
        height: 3em;
    }


    #prueba-producto{
        height: 3em;
    }


    #segunda-columna{
        height: 3em;
    }

}
