/* ================================================================================================================ */
/* ================================================== VARIABLES ================================================== */
/* ============================================================================================================== */



:root {

    /* =================================== COLORS =================================== */
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%); 

    /* =================================== TYPOGRAPHY =================================== */
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-4: 1.125rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
  
    --weight-300: 300;
    --weight-500: 500;
    --weight-600: 600;

    /* =================================== BORDER-RADIUS =================================== */
    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /* =================================== TRANSITION =================================== */
    --transition-timing: 0.2s ease;
}




/* ================================================================================================================ */
/* ================================================== ELEMENTS =================================================== */
/* ============================================================================================================== */



/* =================================== UNIVERSAL =================================== */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =================================== HTML =================================== */
html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
}

/* =================================== LINKS =================================== */
a {
    text-decoration: none; 
}

/* =================================== LIST =================================== */
li {
    list-style: none; 
}

/* =================================== BUTTONS =================================== */
button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

/* =================================== IMAGES, ICONS, BUTTON & LINKS =================================== */
img, ion-icon, button, a {
    display: block; 
}

/* =================================== IMAGENES, ICON, BUTTON & LINKS =================================== */
span {
    display: inline-block; 
}

/* =================================== FORM =================================== */
input {
    display: block;
    width: 100%;
    font: inherit;
}

/* =================================== FORM TEXT PROVISIONAL =================================== */
input::placeholder {
    font: inherit; 
}

body {
    background: var(--white); 
}

/* =================================== SCROLL-BAR STYLES =================================== */
body::-webkit-scrollbar {
    width: 15px; 
}

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%); 
}



/* ================================================================================================================ */
/* ================================================== REUSED STYLES ============================================== */
/* ============================================================================================================== */



.container {
    padding: 0 15px; 
}

.has-scrollbar {
    padding-bottom: 5px; 
}

.has-scrollbar::-webkit-scrollbar {
  /* VERTICAL SCROLL */
  width: 12px;
  /* HORIZONTAL SCROLL */ 
  height: 12px; 
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%); 
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%); 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: 0.5s ease;
}
  
.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* ================================================================================================================ */
/* ================================================== HEADER ===================================================== */
/* ============================================================================================================== */



.header-top, .header-user-actions, .desktop-navigation-menu {
    display: none; 
}

.header-main {
    background: #FF7D1B;
    padding: 20px 0;
    border-bottom: 1px solid #FF7D1B;
}

.header-search-container {
    position: relative; 
}

.header-search-container .search-field {
    font-size: var(--fs-7);
    color: var(--onyx);
    padding: 10px 15px;
    padding-right: 50px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
}

.search-field::-webkit-search-cancel-button {
    display: none; 
}

.search-btn {
  background: var(--white);
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  color: var(--onyx);
  font-size: 18px;
  padding: 8px 15px;
  border-radius: var(--border-radius-md);
  transition: color var(--transition-timing);
}

.search-btn:hover {
    color: orange; 
}

.mobile-bottom-navigation {
  background: #FF7D1B;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}

.mobile-bottom-navigation .action-btn {
    position: relative;
    font-size: 26px;
    color: var(--eerie-black);
    padding: 10px;
}
  
.mobile-bottom-navigation .count {
    background: white;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}
  
.mobile-navigation-menu {
    background: #FF7D1B;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 20;
}
  
.mobile-navigation-menu.active {
    left: 0;
    visibility: visible;
}
  
.menu-top {
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #FF7D1B;
}
  
.menu-top .menu-title {
    color: white;
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
}
  
.menu-close-btn {
    color: white;
    font-size: 22px;
}

.menu-close-btn ion-icon {
    --ionicon-stroke-width: 50px; 
}

.mobile-menu-category-list {
    margin-bottom: 30px; 
}

.menu-category .accordion-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-category-list .menu-category {
    border-bottom: 1px solid white; 
}

.mobile-menu-category-list .menu-title {
  color: white;
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  padding: 12px 0;
}

.accordion-menu > div {
    font-size: 14px; 
}

.accordion-menu ion-icon {
  color: var(--onyx);
  --ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon, .accordion-menu .remove-icon {
    color: white;
    display: none; 
}

.accordion-menu .add-icon, .accordion-menu.active .remove-icon {
    color: white;
    display: block; 
}

.menu-category .submenu-category-list {
    margin-left: 10px; 
}

.submenu-title {
  padding: 6px 0;
  font-size: var(--fs-6);
  color: white;
  font-weight: var(--weight-300);
}

.submenu-title:hover {
    color: black; 
}

.submenu-category-list {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
  max-height: 148px;
  visibility: visible;
}

.menu-bottom .menu-category-list {
    margin-bottom: 20px; 
}

.menu-bottom .menu-category {
    border-bottom: none; 
}

.menu-bottom .menu-title {
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  color: black;
  padding: 12px 0;
}

.accordion-menu.active .caret-back {
    transform: rotate(-0.25turn); 
}

.menu-bottom .submenu-category-list {
  border: 1px solid #FF7D1B;
  border-radius: var(--border-radius-md);
  padding: 0 15px;
  margin-left: 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
    border-bottom: 1px solid var(--cultured); 
}

.menu-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-social-container .social-link {
  background: var(--cultured);
  color: var(--eerie-black);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--border-radius-md);
}


/* ================================================================================================================ */
/* ================================================== FOOTER ===================================================== */
/* ============================================================================================================== */



footer {
    background: #ffb552;
    padding: 30px 0;
}

.footer-nav {
    border-bottom: 1px solid #ffb552;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
  
.footer-nav-list:not(:last-child) {
      margin-bottom: 20px;
}
  
.footer-nav .nav-title {
    position: relative;
    color: var(--white);
    font-size: var(--fs-7);
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
  
.footer-nav .nav-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    width: 60px;
    height: 1px;
}
  
.footer-nav-item {
    padding: 3px 0;
}
  
.footer-nav-link, .footer-nav-item .content {
    width: max-content;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    transition: var(--transition-timing);
}
  
.footer-nav-link:hover { 
      color: white;
}
  
.footer-nav-item.flex {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
  
.footer-nav-item .content {
    font-style: normal;
    margin-bottom: 5px;
}
  
.footer-nav-item .icon-box {
    color: black;
    font-size: 25px;
}
  
.footer-nav-item .icon-box ion-icon {
      --ionicon-stroke-width: 30px; 
}
  
.footer-nav .social-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
  
.social-link .footer-nav-link {
    font-size: 25px; 
}
  
.footer-bottom {
    margin-bottom: 50px;
    text-align: center;
}
  
.copyright {
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 1.2px;
}
  
.copyright a {
    display: inline;
    color: inherit;
}


/* ================================================================================================================ */
/* ================================================== RESPONSIVE ================================================= */
/* ============================================================================================================== */



/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 480PX =================================== */

@media (min-width: 480px) {

    :root {

        /*TYPOGRAPHY*/
       --fs-1: 1.875rem;
    }
 
    /* =================================== HEADER =================================== */
    .header-top {
       background: #FF7D1B;
       display: block;
       padding: 10px 0;
       border-bottom: 1px solid #FF7D1B;
    }
   
    .header-social-container {
        display: none; 
    }
   
    .header-main {
         padding: 25px 0; 
    }
   
    .mobile-bottom-navigation {
       border-top-left-radius: var(--border-radius-md);
       border-top-right-radius: var(--border-radius-md);
    }

    /* =================================== FOOTER =================================== */
    .copyright {
        --fs-8: 0.875rem; 
    }
}

/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 570PX =================================== */

@media (min-width: 570px) {

    /* =================================== HEADER =================================== */
    .header-top .container, .header-main .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-logo {
        margin-bottom: 0; 
    }
    
    .header-search-container {
        min-width: 300px; 
    }
}

/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 768PX =================================== */

@media (min-width: 768px) {

    :root {

        /* TYPOGRAPHY */
      --fs-1: 2.375rem;
    }

    /*GENERAL*/
  
    html {
        font-size: 17px; 
    }

    /*REUSED STYLE*/
  
    .container {
      max-width: 750px;
      margin: auto;
    }

    /* =================================== HEADER =================================== */

    .header-main .container {
        gap: 80px; 
    }
  
    .header-search-container {
        flex-grow: 1;
    }

    /* =================================== FOOTER =================================== */

    .footer-nav .container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 20px;
    }
    
    .footer-nav-list {
        min-width: calc(33.33% - 15px);
        width: calc(33.33% - 15px);
        flex-grow: 1;
    }
    
    .footer-nav-list:not(:last-child) {
          margin-bottom: 0; 
    }
    
}
  
  
/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 1024PX =================================== */
  
@media (min-width: 1024px) {

    main{
        min-width: 90%;
        margin: 20px auto;
        background-color: white;
        height: 100vh;
    }

    :root {

        /* TYPOGRAPHY */
      --fs-1: 2.625rem;
      --fs-2: 1.125rem;
    }

    /*REUSED STYLE*/
    .container {
        max-width: 980px; 
    }

    /* =================================== HEADER =================================== */

    .header-social-container {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    .header-social-container .social-link {
      padding: 5px;
      background: hsl(0, 0%, 95%);
      border-radius: var(--border-radius-sm);
      color: black;
      transition: var(--transition-timing);
    }
  
    .header-social-container .social-link:hover {
      background: white;
      color: orange;
    }
  
    .header-user-actions {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  
    .header-user-actions .action-btn {
      position: relative;
      font-size: 35px;
      color: black;
      padding: 5px;
    }
  
    .header-user-actions .count {
      position: absolute;
      top: -2px;
      right: -3px;
      background: white;
      color: black;
      font-size: 12px;
      font-weight: var(--weight-500);
      line-height: 1;
      padding: 2px 4px;
      border-radius: 20px;
    }
  
    .desktop-navigation-menu {
        background: #FF7D1B;
        display: block; 
    }
  
    .desktop-menu-category-list {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  
    .desktop-menu-category-list .menu-category:not(:nth-child(2)) {
        position: relative; 
    }
  
    .desktop-menu-category-list .menu-category > .menu-title {
      position: relative;
      color: black;
      font-size: var(--fs-7);
      font-weight: var(--weight-600);
      text-transform: uppercase;
      padding: 15px 0;
      transition: var(--transition-timing);
    }
  
    .desktop-menu-category-list .menu-category > .menu-title:hover {
        color: white; 
    }
    
    .desktop-menu-category-list .menu-category > .menu-title::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
      transform: scaleX(0);
      transform-origin: left;
      transition: var(--transition-timing);
    }
  
    .desktop-menu-category-list .menu-category > .menu-title:hover::after {
        transform: scaleX(1); 
    }
  
    .dropdown-panel {
      position: absolute;
      top: 100%;
      left: 0;
      background: var(--white);
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 30px;
      border: 1px solid var(--cultured);
      box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
      border-radius: var(--border-radius-md);
      transform: translateY(50px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: var(--transition-timing);
      z-index: 5;
    }
  
    .desktop-menu-category-list .menu-category:hover > .dropdown-panel {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
    .dropdown-panel-list .menu-title a {
      color: var(--onyx);
      font-size: var(--fs-7);
      font-weight: var(--weight-600);
      padding-bottom: 10px;
      border-bottom: 1px solid var(--cultured);
      margin-bottom: 10px;
    }
  
    .panel-list-item a {
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      text-transform: capitalize;
      transition: var(--transition-timing);
    }
  
    .panel-list-item a:hover {
        color: orange; 
    }
  
    .panel-list-item:not(:last-child) a {
        padding: 4px 0; 
    }
  
    .panel-list-item:last-child {
        margin-top: 20px; 
    }
  
    .dropdown-list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      background: var(--white);
      padding: 20px 0;
      border-radius: var(--border-radius-md);
      border: 1px solid var(--cultured);
      box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
      transform: translateY(50px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: var(--transition-timing);
      z-index: 5;
    }
  
    .desktop-menu-category-list .menu-category:hover > .dropdown-list {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
    .dropdown-list .dropdown-item a {
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      text-transform: capitalize;
      padding: 4px 20px;
      transition: var(--transition-timing);
    }
  
    .dropdown-list .dropdown-item a:hover { 
        color: orange; 
    }
  
    .mobile-bottom-navigation {
        display: none; 
    }

    /* =================================== FOOTER =================================== */

    .container .suscribe {
        font-weight: var(--weight-500);
        position: relative;
        top: 35px;
        padding-left: 180px;
        text-transform: uppercase;
        color: var(--onyx);
    }



    .footer-suscribe {
        margin: 0 auto;
        position: relative;
        padding-bottom: 45px;
        width: 300px;
    }

    .footer-suscribe .suscribee {
        font-size: var(--fs-7);
        color: var(--onyx);
        padding: 10px 15px;
        padding-right: 50px;
        border: 1px solid var(--cultured);
        border-radius: var(--border-radius-md);
      }

      .suscribe-btn {
        background: var(--white);
        position: absolute;
        top: 25%;
        right: 2px;
        transform: translateY(-50%);
        color: var(--onyx);
        font-size: 18px;
        padding: 8px 15px;
        border-radius: var(--border-radius-md);
        transition: color var(--transition-timing);
      }

      .suscribe-btn:hover {
          color: orange;
      }

    .footer-nav-list {
        min-width: calc(20% - 16px);
        width: calc(20% - 16px);
      }
    
    .footer-nav-list:last-child {
          display: none; 
    }
    
    .footer-bottom {
        margin-bottom: 0; 
    }
}
  
/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 1200PX =================================== */
  
@media (min-width: 1200px) {

    /* REUSED STYLE */
    .container {
        max-width: 1200px; 
    }

    /* =================================== HEADER =================================== */
  
    .desktop-menu-category-list {
        gap: 45px; 
    }

    /* =================================== FOOTER =================================== */

    footer {
        padding-top: 50px; 
    }

    .footer-category {
      margin-bottom: 50px;
      padding-bottom: 35px;
    }
  
    .footer-nav {
        padding-bottom: 50px; 
    }
}

/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 1400PX =================================== */
  
@media (min-width: 1400px) {

    /* GENERAL */
  
    html {
        font-size: 18px; 
    }

    /* REUSED STYLE */

    .container {
        max-width: 1350px; 
    }

}
