/* ================================================================================================================ */
/* ================================================== MAIN ===================================================== */
/* ============================================================================================================== */


/* COMPUTADORAS */

    .intro_acerca {
         width: 700px;  
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        align-items: center;
        background-image: linear-gradient(#FF7D1B, #ffe11b);
       
    }
    
    .intro_acerca h1 {
        padding-bottom: 30px;
         font-size: 50px;
    } 
    
    .intro_acerca p {
        width: 650px;
        font-size: 25px;
    }
   
    .intro-2_acerca {
        padding-top: 80px;
    }
    .img-1_acerca {
        position: relative;
        top: -230px;
        right: 380px;
    } 
    
    .img-1_acerca img {
        width: 350px;
        height: auto;
    }
    .img-2_acerca {
        position: relative;
        top:-480px;
        left: 460px;
    }
    
    
    .img-2_acerca img {
        width: 270px;
        height: auto;
    }

    
main {
    margin: 0;
}
    
    

.main_acerca {
    background-color: white;
    color: rgb(51, 51, 51);
    align-items: center;
    margin: 0;
    
  
}

/* ---PRIMER SECCIÓN---*/
.intro_acerca {
    width: 100%;
    height: 650px;
    /* width: 700px; */
    /* padding: 50px; */
    text-align: center;
    
}



/* ---SEGUNDA SECCIÓN PERFILES---*/

.profiles-section_acerca {
    background-image: linear-gradient( #ffe11b, #FF7D1B);
    /* background-color: #ffbb1b; */
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: 350px 350px 350px ;
    grid-template-rows: 350px;
    grid-row-gap: 0;
    grid-column-gap: 75px;
}

.profile_acerca {
    width: 350px;
    height: 350px;
    margin-top: 55px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.div-img-profile_acerca {
    margin-top: 5px;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
    transition: all 0.3s;
}
.div-img-profile_acerca:hover {
    box-shadow: none;
    width: 210px;
    height: 210px;
    transition: all 0.3s;
    
}
.img-profile_acerca {
    width: 250px;
    height: 200px;
    
}

.article-flex-row_acerca {
    display: flex;
    margin-left:15px;

}

.profile-icons_acerca {
 
  position: relative;
  top: 50px;
  left: 25px;
}
.profile_acerca p {
    color: white;
    width: 300px;
    font-size: 16px;
}

.profile_acerca h2 {
  
    font-size: 25px;
    font-weight: 600;
    padding-top: 30px;
    padding-right: 25px;
}



.profile-1_acerca .div-img-profile_acerca {
    background-image: url(../img-acerca/jony.jpg);
    background-size: cover;
}
.profile-2_acerca .div-img-profile_acerca {
    background-image: url(../img-acerca/fabi.jpg);
    background-size: cover;
}
.profile-3_acerca .div-img-profile_acerca {
    background-image: url(../img-acerca/yender.jpg);
    background-size: cover;
}
.profile-4_acerca .div-img-profile_acerca {
    background-image: url(../img-acerca/mau.jpg);
    background-size: cover;
}
.profile-5_acerca .div-img-profile_acerca {
    background-image: url(../img-acerca/pablito.jpg);
    background-size: cover;
}
.profile-6_acerca .div-img-profile_acerca {
    background-image: url(../img-acerca/celez.jpg);
    background-size: cover;
}

/* ---TERCERA SECCIÓN PESCAR-JP MORGAN---*/
.section-pescar_acerca {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 680px;
    
    
}

.section-pescar_acerca div {
    width: 80%;
    font-size: 25px;
}

.descrip-pescar_acerca {
    padding-top: 40px;
}
.logo-pescar_acerca {
    width: 255px;
    height: auto;
    transition: all 0.3s;
}

.logo-pescar_acerca:hover {
    width: 270px;
    height: auto;
    transition: all 0.3s;
}
.logo-jp_acerca {
    width: 380px;
    height: auto;
    transition: all 0.3s;
}
.logo-jp_acerca:hover {
    width: 390px;
    height: auto;
    transition: all 0.3s;
}

.logo-loma_acerca {
    width: 160px;
    height: auto;
    transition: all 0.3s;
}

.logo-loma_acerca:hover {
    width: 170px;
    height: auto;
    transition: all 0.3s;
}
.section-flex-row_acerca {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/* ---CUARTA SECCIÓN PUMA---*/

.vision_acerca {
    width: 100%;
    height: auto;
    /* display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 350px;
    grid-row-gap:40px;
    grid-column-gap: 0;
    */

    display: flex;
    
}

.vision-1_acerca {
    display: flex;
    flex-direction: row;
}

.vision-2_acerca {
    display: flex;
    flex-direction: row;
}










.vision_acerca div {
    
    width: 630px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.vision-gradient_acerca {
    background-image: linear-gradient(#FF7D1B, #ffe11b);
    width: 633px;
    height: 390px;
}
.vision_acerca h2 {
    font-size: 50px;
    padding-bottom: 15px;
    font-weight: 600;
    
}

.vision_acerca p {
    margin: 0px 50px 0px 50px; 
    font-size: 25px;
}

.fondo-1_acerca {
    background-image: url(../img-acerca/children.jpg); 
    background-size: cover;
    background-position: 0px -15px;
    width: 633px;
    height: 390px;
}

.fondo-2_acerca {
    background-image: url(../img-acerca/notebook.jpg);
    background-size: cover;
    background-position: 0px -25px;
}

/* .vision_acerca button {
    width: 220px;
    height: 50px;
    background-color: #0f5cc8; 
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 35px;
    transition: all 0.4s;
}
.vision_acerca button:hover {
    background-color: #2174d9; 
    transition: all 0.4s;
} */




/* ================================================================================================================ */
/* ================================================== RESPONSIVE ================================================= */
/* ============================================================================================================== */



/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 480PX =================================== */

@media (min-width: 480px) {

   
   .intro_acerca h1 {
       padding-bottom: 30px;
        font-size: 14px;
   } 


}













/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 570PX =================================== */
/* 
@media (min-width: 570px) {
   } */
       





/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 768PX =================================== */
/* 
@media (min-width: 768px) {
 } */



 
/* =================================== RESPONSIVE FOR SCREENS LARGER THAN 1024PX =================================== */
  
@media (min-width: 1024px) {


       .intro_acerca h1 {
           padding-bottom: 30px;
            font-size: 50px;
       } 
    }

/* 

@media (min-width: 1200px) {

} */

